

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>NumberCommets:</strong>
  <%= @article.numberComments %>
</p>
 
<p>
  <strong>Votes:</strong>
  <%= @article.votes %>
</p>
